.l-main
    position relative

.l-container
    position relative
    width 100%
    max-width 1000px
    margin 0 auto

.l-article
    position fixed
    top 0
    left 0
    display block
    width calc(100% - 460px)
    max-width 1000px
    height 100%
    background rgba(#fff,.95)
    box-shadow 10px 0 10px -5px rgba(#000,.2)
    overflow-scrolling touch
    transform:translateX(-100%)
    transition .3s
    overflow auto
    opacity 0
    z-index 3
    +md()
        width 100%
    &.is-show
        transform none
        opacity 1
    .article__container
        position relative