.main-map
    //display flex
    align-items center
    justify-content center
    height calc(100vh - 82px)
    overflow auto
    +md()
        width 100%
        height calc(100vh - 70px)
    .main-map__container
        position relative
        display block
        width calc((2116 * (100vh - 82px)) / 1525)
        height calc(100vh - 82px)
        margin 0 auto
        +md()
            width calc((2116 * (100vh - 70px)) / 1525)
            height calc(100vh - 70px)
        .main-map__bg
            position absolute
            top 0
            left 0
            width 100%
            height calc(100vh - 82px)
            +md()
                height calc(100vh - 70px)
        img
            display block
            height 100%
            margin 0 auto
    .map-balloon
        position absolute
        top 0
        display flex
        align-items flex-start
        cursor pointer
        &.pt01
            top 44%
            left 53%
        &.pt02
            top 4%
            left 43%
        &.pt03
            top 14%
            left 23%
        &.pt04
            top 41%
            left 25%
        &.pt05
            top 65%
            left 79%
        &.pt06
            top 26%
            left 18%
        &.pt07
            top 73%
            left 47%
        &.pt08
            top 35%
            left 76%
        &.pt09
            top 51%
            left 40%
        &.pt10
            top 27%
            left 67%
        &.pt11
            top 15%
            left 77%
        &.pt12
            top 52%
            left 59%
        &:hover
            .map-balloon__link
                opacity 1
                visibility visible
                transform none
        .map-balloon__link
            position absolute
            &:hover
                p
                    opacity 1
                    visibility visible
                    transform none
            &::before
                position relative
                flex none
                content ''
                display block
                width 38px
                height 66px
                background-image url(../images/balloon.png)
                background-size contain
                background-repeat no-repeat
                z-index 1
            p
                position absolute
                top 0
                left 18px
                display flex
                align-items center
                justify-content center
                height 46px
                background #fff
                border 3px solid red
                border-radius 5px
                opacity 0
                visibility hidden
                overflow hidden
                font-size 13px
                font-weight bold
                color blk
                text-align center
                white-space nowrap
                text-decoration none
                line-height 1.2
                padding 4px 10px 0 20px
                transform translateX(-18px)
                transition .3s
                +md()
                    background rgba(#fff,.6)
                    border-color rgba(red,.5)
                    font-size 11px
                    opacity 1
                    visibility visible
                    transform none