.article__btn--close
    position absolute
    top 0
    right 0
    width: 68px;
    height: 68px;
    background: #e0e3d9;
    color grn
    z-index 2
    +md()
        position fixed
        right 10px
        background transparent
    span
        position: absolute;
        top: 50%
        left: 50%
        display: block
        width: 41px
        height: 6px
        background: grn
        border-radius 6px
        margin: auto
        transform: translate(-50%,-50%)
        transform-origin: top left
        transition .3s
        opacity 0
        &:first-of-type
            opacity 1
            transform: rotate(45deg) translate(-50%, -50%);
        &:last-of-type
            opacity 1
            transform: rotate(-45deg) translate(-50%, -50%);